---
import BaseLayout from "./../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="max-w-4xl mx-auto px-10">
    <h1 class="text-5xl font-bold uppercase">Welcome</h1>
    <p class="mt-5 ml-20">
      Into the world of software, games, and cutting-edge technology. Get ready for a thrilling ride through the digital landscape
    </p>
    <img class="w-2/3 mt-10 -ml-10 sm:w-96 shadow-xl" src="/images/pages/home/city.png" alt="futuristic city" />
    <div class="flex justify-center mt-10">
      <!-- prettier-ignore -->
      <svg  class="w-6 h-6 stroke-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75" /></svg>
    </div>

    <h2 class="text-2xl font-bold uppercase mt-20">Post</h2>
    <div class="mt-7 border-b-primary border-b-2">
      <button class="bg-primary font-bold text-white py-2 px-4" type="button">ALL</button>
      <button class="bg-black font-bold text-white py-2 px-4" type="button">NEWS</button>
      <button class="bg-black font-bold text-white py-2 px-4" type="button">POPULAR</button>
    </div>
    <div class="mt-5 grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
      <article class="border-black border-2 shadow bg-white hover:scale-105 transition-transform duration-300">
        <img class="w-full h-20 object-cover" src="https://picsum.photos/300/200" alt="" />
        <div class="p-4">
          <h3 class="uppercase font-bold">REVOLUTIONIZING TRANSPORTATION: THE RISE OF ELECTRIC AND AUTONOMOUS VEHICLES</h3>
          <p class="font-bold text-gray-400">1 week ago</p>
          <div class="mt-4">
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">Technology</span>
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">AI</span>
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">Javasript</span>
          </div>
        </div>
        <div class="flex justify-end">
          <button class="text-sm bg-black font-bold text-white py-1 px-3 mt-4 me-4" type="button">Read more</button>
        </div>
      </article>
      <article class="border-black border-2 shadow bg-white hover:scale-105 transition-transform duration-300">
        <img class="w-full h-20 object-cover" src="https://picsum.photos/300/200" alt="" />
        <div class="p-4">
          <h3 class="uppercase font-bold">REVOLUTIONIZING TRANSPORTATION: THE RISE OF ELECTRIC AND AUTONOMOUS VEHICLES</h3>
          <p class="font-bold text-gray-400">1 week ago</p>
          <div class="mt-4">
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">Technology</span>
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">AI</span>
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">Javasript</span>
          </div>
        </div>
        <div class="flex justify-end">
          <button class="text-sm bg-black font-bold text-white py-1 px-3 mt-4 me-4" type="button">Read more</button>
        </div>
      </article>
      <article class="border-black border-2 shadow bg-white hover:scale-105 transition-transform duration-300">
        <img class="w-full h-20 object-cover" src="https://picsum.photos/300/200" alt="" />
        <div class="p-4">
          <h3 class="uppercase font-bold">REVOLUTIONIZING TRANSPORTATION: THE RISE OF ELECTRIC AND AUTONOMOUS VEHICLES</h3>
          <p class="font-bold text-gray-400">1 week ago</p>
          <div class="mt-4">
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">Technology</span>
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">AI</span>
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">Javasript</span>
          </div>
        </div>
        <div class="flex justify-end">
          <button class="text-sm bg-black font-bold text-white py-1 px-3 mt-4 me-4" type="button">Read more</button>
        </div>
      </article>
      <article class="border-black border-2 shadow bg-white hover:scale-105 transition-transform duration-300">
        <img class="w-full h-20 object-cover" src="https://picsum.photos/300/200" alt="" />
        <div class="p-4">
          <h3 class="uppercase font-bold">REVOLUTIONIZING TRANSPORTATION: THE RISE OF ELECTRIC AND AUTONOMOUS VEHICLES</h3>
          <p class="font-bold text-gray-400">1 week ago</p>
          <div class="mt-4">
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">Technology</span>
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">AI</span>
            <span class="text-sm bg-secondary px-2 py-1 inline-block font-bold text-white">Javasript</span>
          </div>
        </div>
        <div class="flex justify-end">
          <button class="text-sm bg-black font-bold text-white py-1 px-3 mt-4 me-4" type="button">Read more</button>
        </div>
      </article>
    </div>

    <div class="flex justify-end">
      <button class="bg-black font-bold text-white py-2 px-4 uppercase mt-5">SEE MORE</button>
    </div>
  </section>
</BaseLayout>

<!-- <form class="flex flex-col md:flex-row mt-20 gap-10 md:gap-6 justify-center" action="/tags">
  <input class="border-2 border-black rounded px-4 py-2" placeholder="Find a post" type="text" name="filter" id="filter" />
  <button class="border-b-2 border-black px-10 py-2 font-bold" type="submit">FIND</button>
</form> -->
