---
import BaseLayout from "./../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="max-w-4xl mx-auto px-10">
    <h1 class="text-5xl font-bold uppercase">About</h1>
    <p class="mt-5 ml-20">
      Welcome to a world where software, technology, and games converge. Explore the latest innovations, discover expert insights, and embark on
      thrilling adventures in the web and software realm. Let the journey begin!
    </p>
  </section>
</BaseLayout>
