---
import BaseLayout from "./../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="max-w-4xl mx-auto px-10">
    <h1 class="text-5xl font-bold uppercase">FIND</h1>
    <form class="flex flex-col md:flex-row mt-20 gap-10 justify-center" action="/tags">
      <input class="border-2 border-black rounded px-4 py-2" placeholder="Find a post" type="text" name="filter" id="filter" />
      <button class="border-b-2 border-black px-5 py-2 font-bold" type="submit">FIND</button>
    </form>
  </section>
</BaseLayout>
